@import "../../global.scss";


.works{
    background-color: white;
    display: flex;
    flex-direction: column;
  justify-content: space-around;


  
  

    h1{
        color: $mainColor;
        text-align: center;
        font-size: 40px;
        @include mobile{
          font-size: 24px;
          padding-bottom: 20px;
      }
    }

    .skillsImage{
        display: flex;
        // align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      

        

          @include mobile{
           
            display: none;
        }
        
       

        
    }
    .wrapper{
      display: flex;
      flex-direction: row;
      justify-content: space-around;


      @include mobile{
           
        flex-direction: column;
        
    }

      

      .container_frontend{

        width: 400px;
        background-color: $mainColor;
        padding: 1.4em 5em;
        border-radius: 2rem;
        border: 1px solid transparent;
        color: white;
        transition: all 1s ease;
        box-shadow: 0px 0px 30px -8px $mainColor;
        margin-top: 25px;
        margin-bottom: 20px;

        @include mobile{
           
          max-width: 265px;
          height: 600px;
          padding: 0.5em 2.5em;
          margin-left: 8px;
      }

        h3{
          text-align: center;
          color: whitesmoke;
          font-size: 1.3em;
          transition: all 1s ease;

          @include mobile{
           
            font-size: 20px;
        }
        }

        .experience_content{
          padding-top: 30px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          row-gap: 2rem;
          column-gap: 4rem;

          @include mobile{
           
            padding-top: 15px;
            row-gap: 1.5rem;
          column-gap: 3rem;
        }

          .exp_details{
            display: flex;
            gap: 8px;

            

            h4{
              @include mobile{
           
                font-size: 14px;
            }
            }

            .txt-light{
              color: rgb(187, 186, 186);
          transition: all 1s ease;

          @include mobile{
           
            font-size: 12px;
        }
       

            }
          }
        }

        &:hover{
         
      // border: 2px solid $mainColor ;

          color: #2f0681;
          background-color: white;
          transition: all 1s ease;

          h3{
            color : #250468;

            
          }
          .experience_content{
              .exp_details{

                .txt-light{
                  color: #543f7e;
                }
              }
          }
          
      }
      }

       .container_backend{

        width: 400px;

        background-color: $mainColor;
        padding: 1.4em 5em;
        border-radius: 2rem;
        border: 1px solid transparent;
        color: white;
        transition: all 1s ease;
        box-shadow: 0px 0px 30px -8px $mainColor;
        margin-top: 25px;
        margin-bottom: 20px;

        @include mobile{
           
          max-width: 265px;
          height: 600px;
          padding: 0.5em 2.5em;
          margin-left: 8px;
      }

        h3{
          text-align: center;
          color: whitesmoke;
          font-size: 1.3em;
          transition: all 1s ease;
        }

        .experience_content{
          padding-top: 30px;

          display: grid;
          grid-template-columns: 1fr 1fr;
          row-gap: 2rem;
          column-gap: 2rem;
          padding-bottom: 10px;

          @include mobile{
           
            padding-top: 15px;
            row-gap: 1.5rem;
          column-gap: 3rem;
        }

          .exp_details{
            display: flex;
            gap: 8px;

            h4{
              @include mobile{
           
                font-size: 14px;
            }
            }

            .txt-light{
              color: rgb(187, 186, 186);
          transition: all 1s ease;

          
          @include mobile{
           
            font-size: 12px;
        }
       

            }
          }

        }

        &:hover{
         
      // border: 2px solid $mainColor ;

          color: #2f0681;
          background-color: white;
          transition: all 1s ease;

          h3{
            color : #250468;
          }

          .experience_content{
            .exp_details{

              .txt-light{
                color: #543f7e;
              }
            }
        }
      }
      }

    }

    
}