@import "../../global.scss";


.works{
    background-color: white;
  //   display: flex;
  //   flex-direction: column;
  // justify-content: space-around;

  

    h1{
        color: $mainColor;
        text-align: center;
        font-size: 40px;
    }

    .skillsImage{
        display: flex;
        // align-items: center;
        justify-content: center;
        flex-wrap: wrap;
       

        
    }

    
}